$primary: #323330;
$secondary: #f0db4f;

$primary-font: 'Lato';
$secondary-font: 'Black Han Sans';

$transition: 0.24s ease;
$header-height: 5.1875rem;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font, sans-serif;
  font-size: 16px;
  color: $primary;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $secondary-font, sans-serif;
  text-transform: uppercase;
}

section {
  margin-bottom: 3rem;
}

.container {
  width: 900px;
  margin: auto;
}

.lazyload {
  opacity: 0.5;
  filter: blur(8px);
  transition: all $transition;

  &.loaded {
    opacity: 1;
    filter: blur(0);
  }
}

.header-minimizer {
  height: $header-height;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.2);
    opacity: 0;
    transition: opacity $transition;
  }

  &.minimized {
    &::after {
      opacity: 1;
    }

    .header-wrapper {
      height: 3rem;
    }

    .logo-wrapper img {
      transform: scale(0.8);
    }

    a.header-link,
    ,
    .header-link + a {
      font-size: 1.2rem;
    }
  }
}

.header-wrapper {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height $transition;

  img {
    display: block;
    width: 3rem;
    height: auto;
    transform-origin: center left;
    transition: transform $transition;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
}

a.header-link,
.header-link + a {
  display: inline-block;
  color: $primary;
  margin-left: 1rem;
  font-family: $secondary-font;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color $transition, font-size $transition;

  &:hover {
    color: $secondary;
  }
}

#slider {
  .container {
    position: relative;
  }

  .tns-controls {
    button {
      border: none;
      outline: none;
      background-color: $secondary;
      color: $primary;
      width: 48px;
      height: 48px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-family: $secondary-font;
      z-index: 90;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      span {
        display: block;
        line-height: 2rem;
        transform: translateY(2px);
      }

      &:last-child {
        right: 0;
      }
    }
  }
}

.slider-image {
  width: 100%;
  display: block;
  height: 600px;
  object-fit: cover;
  object-position: 50% 50%;
}

.split-wrapper {
  display: flex;
  justify-content: space-between;
}

.split-image-wrapper {
  position: relative;
  width: calc(50% - 1rem);
}

.split-image {
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
:root {
  --scale-ratio: 1;
}

.split-content {
  width: calc(50% - 1rem);
  padding: 2rem 0;
  transform: scale(var(--scale-ratio));
  opacity: var(--scale-ratio);
  transition: transform 0.1s ease, opacity 0.1s ease;
}

#split2 .split-wrapper {
  flex-direction: row-reverse;
}

.video-wrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative;

  iframe {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.map-wrapper {
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

footer {
  font-family: $secondary-font;
  text-align: center;
  background-color: $secondary;
  padding: 2rem 0;
  color: #fff;
  font-size: 2rem;
}

.filter-wrapper {
  position: relative;
}

.filtering-content {
  min-height: 50vh;
  transition: height $transition;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post {
  width: calc(25% - 20px);
  color: $primary;
  margin-top: 20px;
  text-decoration: none;
  border: 1px solid $secondary;

  h3 {
    margin: 10px 0;
    font-size: 14px;
  }
}

.post-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.post-content {
  padding: 0 10px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: $secondary;
}

.filter-preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.8);
  transition: opacity $transition;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  svg {
    transform-origin: center center;
    width: 5rem;
    height: 5rem;
    display: block;
    fill: $primary;
  }

  &.loading {
    opacity: 1;
    pointer-events: auto;

    svg {
      animation-duration: 2s;
      animation-name: rotation;
      animation-iteration-count: infinite;
    }
  }
}
