* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #323330; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Black Han Sans", sans-serif;
  text-transform: uppercase; }

section {
  margin-bottom: 3rem; }

.container {
  width: 900px;
  margin: auto; }

.lazyload {
  opacity: 0.5;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  transition: all 0.24s ease; }
  .lazyload.loaded {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); }

.header-minimizer {
  height: 5.1875rem; }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100; }
  .site-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.24s ease; }
  .site-header.minimized::after {
    opacity: 1; }
  .site-header.minimized .header-wrapper {
    height: 3rem; }
  .site-header.minimized .logo-wrapper img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  .site-header.minimized a.header-link,
  .site-header.minimized .header-link + a {
    font-size: 1.2rem; }

.header-wrapper {
  height: 5.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.24s ease; }
  .header-wrapper img {
    display: block;
    width: 3rem;
    height: auto;
    -webkit-transform-origin: center left;
            transform-origin: center left;
    transition: -webkit-transform 0.24s ease;
    transition: transform 0.24s ease;
    transition: transform 0.24s ease, -webkit-transform 0.24s ease; }

nav {
  display: flex;
  justify-content: flex-end; }

a.header-link,
.header-link + a {
  display: inline-block;
  color: #323330;
  margin-left: 1rem;
  font-family: "Black Han Sans";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.24s ease, font-size 0.24s ease; }
  a.header-link:hover,
  .header-link + a:hover {
    color: #f0db4f; }

#slider .container {
  position: relative; }

#slider .tns-controls button {
  border: none;
  outline: none;
  background-color: #f0db4f;
  color: #323330;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Black Han Sans";
  z-index: 90;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0; }
  #slider .tns-controls button span {
    display: block;
    line-height: 2rem;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  #slider .tns-controls button:last-child {
    right: 0; }

.slider-image {
  width: 100%;
  display: block;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%; }

.split-wrapper {
  display: flex;
  justify-content: space-between; }

.split-image-wrapper {
  position: relative;
  width: calc(50% - 1rem); }

.split-image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

:root {
  --scale-ratio: 1; }

.split-content {
  width: calc(50% - 1rem);
  padding: 2rem 0;
  -webkit-transform: scale(var(--scale-ratio));
          transform: scale(var(--scale-ratio));
  opacity: var(--scale-ratio);
  transition: opacity 0.1s ease, -webkit-transform 0.1s ease;
  transition: transform 0.1s ease, opacity 0.1s ease;
  transition: transform 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease; }

#split2 .split-wrapper {
  flex-direction: row-reverse; }

.video-wrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative; }
  .video-wrapper iframe {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.map-wrapper {
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: 0; }

footer {
  font-family: "Black Han Sans";
  text-align: center;
  background-color: #f0db4f;
  padding: 2rem 0;
  color: #fff;
  font-size: 2rem; }

.filter-wrapper {
  position: relative; }

.filtering-content {
  min-height: 50vh;
  transition: height 0.24s ease;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.post {
  width: calc(25% - 20px);
  color: #323330;
  margin-top: 20px;
  text-decoration: none;
  border: 1px solid #f0db4f; }
  .post h3 {
    margin: 10px 0;
    font-size: 14px; }

.post-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px; }

.post-content {
  padding: 0 10px; }

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #f0db4f; }

.filter-preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.24s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
  .filter-preloader svg {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    width: 5rem;
    height: 5rem;
    display: block;
    fill: #323330; }
  .filter-preloader.loading {
    opacity: 1;
    pointer-events: auto; }
    .filter-preloader.loading svg {
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-name: rotation;
              animation-name: rotation;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
